# Secrets
.env
*.env

# GitHub Runner
actions-runner/

# Archives
*.tar.gz
*.zip

# Runtime data
data/
models/

# Logs
*.log
logs/

# Python
__pycache__/
*.pyc

# NodeJS
node_modules/

# Monitoring data
grafana/data/
prometheus/data/
loki/data/

# Databases
*.db
*.sqlite

# VMware exporter secrets
vmware-exporter/config.yml
vmware-exporter/.env

# OS junk
.DS_Store
Thumbs.db
